html, body {
	background: white;
	font-family: 'Inter', sans-serif;
	font-size: 100%;
	height: 100%;
}
.wrapp {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background: white;
}
h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans-serif;
}
header .container, main .container, footer .container {
	max-width: 1300px;
	margin: auto;
}
.main__header {
	padding-top: 30px;
	background: #E6EFF8;
	overflow: none;
}
header h1 {
	float: left;
	width: 400px;
	font-size: 300%;
	font-style: italic;
}
header .container .header-image {
	float: right;
	margin-top: -5%;
}

main {
	background-color: white;
	overflow: visible;
	flex: 1 1 auto;
}
main .container {
	display: flex;
	justify-content: center;
	width: 100%;
}
main .container h2 {
	font-size: 150%;
}
main .container h3 {
	font-size: 130%;
}
main .container .header-nav{
	float: left;
	margin-left: -110px;
	width: 23%;
	max-width: 23%;
	min-width: 23%;
	display: flex;
	justify-content: center;
	list-style: none;
	background: #E6EFF8;
}

.main__footer{
	background: #E6EFF8;
	overflow: auto;
}
footer .container {
	display: flex;
	margin-top: 10px;
}
footer .container h5 {
	font-size: 120%;
}
footer .container .about-pharmacy {
	flex-basis: 30%;

}
footer .container .pharmacy-icon {
	flex-basis: 40%;
}
footer .container .footer-social-networks {
	flex-basis: 30%;
	text-align: center;

}

a {
  text-decoration: none;
}
a:hover {
	color: red;
	text-decoration: underline;
}

.input-med {
	border-radius: 15px;
	vertical-align: middle;
	height: 35%;
	width: 40%;
	margin: 1%;
	margin-left: 5px;
	margin-top: 10px;
}

.search-med-btn {
	background-color: orangered;
	color: black;
	padding: 10px 20px;
	border-radius: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin-left: 0%;
}

.wrapper {
	position: relative;
	overflow-x: hidden;
}
.wrapper .menu {
	position: fixed;
	left: 0;
	top: 0;
	width: 20%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E6EFF8;
	transition: 0.5s;
	transform: translateX(-100%);
}
.wrapper .menu_active {
	transform: translateX(0%);
}
.wrapper .menu-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50%;
	flex-direction: column;
}
.wrapper .menu-list a{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
}
.wrapper .menu-btn {
	width: 30px;
	height: 30px;
	position: absolute;
	right: -35px;
	top: 10px;
}


/* section-about start */
section {
	padding: 0 0;
	background-color: white;
}
.section-about {
	background: linear-gradient(to top, #2d2c2c, #1f1f1f);
	color: white;
	position: relative;
}
.section-about__container {
	flex-basis: 70%;
	margin-left: 50px;
	position: relative;
	display: flex;
	justify-content: flex-end;
}
.section-about__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	object-fit: cover;
}
.section-about__content {
	width: 50%;
	padding-left: 51%;

}