html, body {
	background: white;
	font-family: 'Inter', sans-serif;
	font-size: 100%;
	height: 100%;
}
.wrapp {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background: white;
}
h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans-serif;
}
header .container, main .container, footer .container {
	max-width: 1300px;
	margin: auto;
}
.main__header {
	padding-top: 30px;
	background: #E6EFF8;
	overflow: none;
}
header h1 {
	float: left;
	width: 400px;
	font-size: 300%;
	font-style: italic;
}
header .container .header-image {
	float: right;
	margin-top: -5%;
}
header .container .header-counter {
	float: right;
	margin-top: -5%;
	margin-left: 50%;
}

main {
	background-color: white;
	overflow: visible;
	flex: 1 1 auto;
}
main .container {
	display: flex;
	justify-content: center;
	width: 100%;
}
main .container h2 {
	font-size: 150%;
}
main .container h3 {
	font-size: 130%;
}
main .container .header-nav{
	float: left;
	
	margin-left: -110px;
	width: 23%;
	max-width: 23%;
	min-width: 23%;
	display: flex;
	justify-content: center;
	list-style: none;
	background: #E6EFF8;
}

.main__footer{
	background: #E6EFF8;
	overflow: auto;
}
footer .container {
	display: flex;
	margin-top: 10px;
}
footer .container h5 {
	font-size: 120%;
}
footer .container .about-pharmacy {
	flex-basis: 30%;

}
footer .container .pharmacy-icon {
	flex-basis: 40%;
}
footer .container .footer-social-networks {
	flex-basis: 30%;
	text-align: center;

}

a {
  text-decoration: none;
}
a:hover {
	color: red;
	text-decoration: underline;
}

.input-med {
	border-radius: 15px;
	vertical-align: middle;
	height: 35%;
	width: 40%;
	margin: 1%;
	margin-left: 5px;
	margin-top: 10px;
}

.search-med-btn {
	background-color: orangered;
	color: black;
	padding: 10px 20px;
	border-radius: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin-left: 0%;
}

.wrapper {
	position: relative;
	overflow-x: hidden;
}
.wrapper .menu {
	position: fixed;
	left: 0;
	top: 0;
	width: 20%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E6EFF8;
	transition: 0.5s;
	transform: translateX(-100%);
}
.wrapper .menu_active {
	transform: translateX(0%);
}
.wrapper .menu-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50%;
	flex-direction: column;
}
.wrapper .menu-list a{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
}
.wrapper .menu-btn {
	width: 30px;
	height: 30px;
	position: absolute;
	right: -35px;
	top: 10px;
}

section {
	padding: 0 0;
	margin-top: 20px;
	background-color: white;
	justify-content: center;
	width: 85%;
	min-width: 85%;
}
.section-container {
	margin-left: 50px;
	flex-basis: 70%;
}
.section__title {
	font-size: 48px;
	text-align: center;
	margin: 0 auto 40px;
	font-weight: 900;
	color: orange;
}
.section__header {
	margin-bottom: 30px;
}
.catalog-nav {
	display: flex;
	justify-content: center;
}
.catalog-nav__wrapper {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
	border-radius: 23px;
	overflow: hidden;
}
.catalog-nav__btn {
	padding: 0;
	border: 0;
	background-color: skyblue;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	padding: 13px;
	min-width: 150px;
	font-size: 18px;
	font-weight: 900;
	color: #e6e6e6;
	border-right: 1px solid #e5e5e5;
	transition: border .2s, background .2s, color .2s;
}
.catalog-nav__btn.is-active {
	background: #1f1f1f;
	color: white;
}
.catalog-nav__btn:not(.is-active):hover {
	background: #ffa650;
	color: white;	
}

/* catalog start*/
.catalog {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0px;
}

.catalog-item {
	width: calc(100% / 4);
	margin-bottom: 90px;
	padding: 0 35px;
	position: relative;
}
.catalog-item:before {
	content: '';
	background: #f7f7f7;
	position: absolute;
	left: 0;
	top: 0;
	width: 3px;
	height: 100%;
	transform: translateX(-50%);
}
.catalog-item:nth-of-type(3n + 1)::before {
	content: none;
}
/* catalog end */

/* product start */
.product {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.product__img {
	display: block;
	margin: 0 auto 15 px;
	max-width: 100%;
	height: auto;
}
.product__title {
	margin: 0 0 10px;
	font-weight: 900;
	font-size: 22px;
}
.product__description {
	margin: 0;
	color: #9f9f9f;
}
.product__content {
	margin-bottom: 25px;
	flex-grow: 1;
}
.product__price {
	font-size: 22px;
	font-weight: 900;
	text-align: right;
}
.product__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.product__btn {
	box-shadow: none;
	background: #ffa650;
	border-radius: 25px;
	width: 200px;
	padding: 14px 20px;
}
.product__btn:hover {
	background: #ff7c21;
}
.product__btn__active {
	box-shadow: none;
	background: indianred;
	border-radius: 25px;
	width: 200px;
	padding: 14px 20px;
}
/* product end */

.shopping-container {
	width: 97%;
	height: 97vh;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	padding: 30px;
	background-color: white;
}
.shopping-element__name {
	padding: 15px;
	font-weight: bond;
}
.shopping-element__price {
	padding: 15px;
	color: skyblue;
}
.shopping__close {
	position: absolute;
	width: 35px;
	height: 35px;
	top: 20px;
	right: 20px;
	background-image: url(../images/close.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	cursor: pointer;
}


